<!DOCTYPE html>
<html>
  <head>
    <title>DogTopia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <%= link_to 'DogTopia', root_path, class: "logo" %>
  </header>
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>

